body {
    font-family: 'Lato', sans-serif;
    background-color: #f2f7f9;
    color: #003049;
    margin: 40px;
}

h1, h2 {
    color: #006d77;
}

nav {
    margin: 20px 0;
    padding: 15px;
}

nav a {
    margin-right: 15px;
    color: #006d77;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #83c5be;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #006d77, #83c5be);
    margin: 40px 0;
}


.americorps-page {
    background-color: #f2f7f9;
}



.research-page{
    background-color: #F4A876;
}

